<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-row>
    <ion-button color="medium"(click)="exibir(1)">C</ion-button>
    <ion-button color="medium"(click)="exibir(2)">+/-</ion-button>
    <ion-button color="medium"(click)="exibir(3)">⌫</ion-button>
    <ion-button color="warning"(click)="exibir(4)">/</ion-button>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-button color="dark" (click)="exibir(5)">7</ion-button>
    <ion-button color="dark" (click)="exibir(6)">8</ion-button>
    <ion-button color="dark"(click)="exibir(7)">9</ion-button>
    <ion-button color="warning" (click)="exibir(8)">*</ion-button>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-button color="dark" (click)="exibir(9)">4</ion-button>
    <ion-button color="dark" (click)="exibir(10)">5</ion-button>
    <ion-button color="dark" (click)="exibir(11)">6</ion-button>
    <ion-button color="warning" (click)="exibir(12)">-</ion-button>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-button color="dark"(click)="exibir(13)">1</ion-button>
    <ion-button color="dark" (click)="exibir(14)">2</ion-button>
    <ion-button color="dark" (click)="exibir(15)">3</ion-button>
    <ion-button color="warning" (click)="exibir(16)">+</ion-button>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-button color="dark" (click)="exibir(17)">0</ion-button>
    <ion-button color="light" (click)="exibir(18)">=</ion-button>
  </ion-row>
</ion-grid>
</ion-content>