<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super Mario(turma)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <img alt="" src="https://supermariorun.com/assets/img/stage/mario03.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Mario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Mario <br>
      - Profissão: Encanador <br>
      - Nacionalidade: Italiano (embora sua nacionalidade não seja mencionada nos jogos, a origem italiana de Mario foi estabelecida por meio de outras mídias, como filmes e desenhos animados) <br>
      - Aparência: Mario é geralmente retratado como um homem baixo e de estatura média, com cabelo e bigode pretos, vestindo um macacão azul, uma camiseta vermelha e um boné vermelho com um "M" na frente. <br>
      - Personalidade: Ele é retratado como um herói corajoso, determinado e otimista, sempre disposto a enfrentar desafios para salvar a Princesa Peach e o Reino do Cogumelo dos vilões.<br>
      - História: Mario fez sua primeira aparição no jogo "Donkey Kong" em 1981 e se tornou o protagonista de uma série de jogos populares, como "Super Mario Bros.", "Super Mario 64", "Super Mario Galaxy" e muitos outros. <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Princess_Peach_Stock_Art.png/220px-Princess_Peach_Stock_Art.png" style="width: 160px; height: 190px;" />
    <ion-card-header>
      <ion-card-title>Princesa Peach</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Princesa Peach Toadstool <br>
      - Títulos alternativos: Princesa Peach, Princesa Toadstool <br>
      - Ocupação: Princesa do Reino do Cogumelo <br>
      - Aparência: A Princesa Peach é retratada como uma jovem princesa de cabelos loiros, olhos azuis e uma pele clara. Ela geralmente é vista usando um vestido cor-de-rosa longo, com detalhes decorativos e uma coroa na cabeça.<br>
      - Personalidade: A Princesa Peach é retratada como uma personagem amável, gentil e otimista. Ela é conhecida por sua bondade e compaixão, além de ser uma figura importante para o Reino do Cogumelo. <br>
      - Relação com Mario: A Princesa Peach é frequentemente retratada como a principal interesse romântico de Mario. Ela muitas vezes é capturada pelo vilão Bowser, levando Mario a embarcar em aventuras para resgatá-la. <br>
      - Papel nos jogos: A Princesa Peach aparece em vários jogos da franquia Mario, onde às vezes desempenha um papel jogável. Ela também é conhecida por suas habilidades de flutuação, como visto em jogos como "Super Mario Bros. 2". <br>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="" src="https://i.pinimg.com/originals/48/23/57/48235786148c9bb5fb8d79199cafb24d.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Luigi</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Luigi Mario <br>
      - Profissão: Encanador <br>
      - Nacionalidade: Italiano (assim como seu irmão Mario) <br>
      - Aparência: Luigi é retratado como um homem alto e magro, com cabelo e bigode pretos, semelhantes aos de seu irmão, Mario. Ele geralmente veste um macacão verde, uma camiseta verde e um boné verde com um "L" na frente. <br>
      - Personalidade: Luigi é frequentemente retratado como o irmão mais tímido e nervoso de Mario. Ele é conhecido por seu bom coração, por ser um pouco medroso e por vezes mostrar mais insegurança que seu irmão. Apesar disso, Luigi sempre está disposto a ajudar e acompanhar Mario em suas aventuras. <br>
      - História: Luigi apareceu pela primeira vez como um personagem jogável no jogo "Mario Bros." em 1983. Desde então, ele se tornou um dos personagens mais reconhecíveis da franquia Mario, estrelando jogos como "Luigi's Mansion" e "Luigi's Mansion: Dark Moon". <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="" src="https://2.bp.blogspot.com/-kzpsHTFS7Vw/U-GUqTIlJsI/AAAAAAAAH-E/4Nrt1KsoheI/s1600/Yoshi+nome+NIntendo+Blast.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Yoshi</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Yoshi <br>
      - Espécie: Yoshi é uma espécie de dinossauro antropomórfico. <br>
      - Aparência: Yoshi tem uma aparência distinta, com uma pele verde, olhos grandes e um focinho longo. Ele geralmente tem um sorriso amigável em seu rosto e um par de sapatos grandes. Existem variações de cores de Yoshi, como o Yoshi vermelho, azul, amarelo, entre outros. <br>
      - Habilidades: Yoshi é conhecido por sua habilidade única de engolir inimigos com sua longa língua e transformá-los em ovos que podem ser usados como projéteis. Ele também tem a capacidade de planar temporariamente no ar usando suas asas curtas. <br>
      - Personalidade: Yoshi é retratado como um personagem alegre, leal e corajoso. Ele é conhecido por sua natureza brincalhona e por ser um grande amigo de Mario e seus companheiros. <br>
      - Papel nos jogos: Yoshi apareceu pela primeira vez como um personagem jogável no jogo "Super Mario World" em 1990. Desde então, ele estrelou em vários jogos próprios, como a série "Yoshi's Island" e "Yoshi's Woolly World". <br>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/d/d1/Toad_3D_Land.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Toad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Toad <br>
      - Espécie: Toad é uma espécie de cogumelo antropomórfico. Ele é frequentemente retratado como um membro leal e dedicado da comunidade do Reino do Cogumelo. <br>
      - Aparência: Toad é caracterizado por seu corpo redondo e cabeça em formato de cogumelo. Ele tem olhos grandes, um sorriso amigável e geralmente usa um colete azul com botões amarelos e uma veste branca. <br>
      - Personalidade: Toad é conhecido por ser corajoso, otimista e prestativo. Ele frequentemente oferece ajuda e informações úteis a Mario e seus amigos em suas aventuras. Toad é retratado como um personagem amigável e alegre. <br>
      - Papel nos jogos: Toad apareceu pela primeira vez como um personagem de apoio no jogo "Super Mario Bros." em 1985. Desde então, ele desempenhou vários papéis em jogos da franquia Mario, incluindo a função de ajudante, fornecedor de itens e até personagem jogável em jogos como "Super Mario 3D World". <br>
      - Variações: Além do Toad comum, existem variações de cores como Toadette, Toadsworth e Capitão Toad, cada um com suas próprias características e personalidades distintas. <br>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/8/81/Wario.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Wario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Wario
      - Origem: Wario é um personagem fictício criado pela Nintendo e é conhecido como um "anti-herói" na franquia Mario. <br>
      - Aparência: Wario é retratado como um homem corpulento com um bigode grosso, pele amarelada e olhos arregalados. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné amarelo com uma letra "W" nele. <br>
      - Personalidade: Wario é conhecido por ser ganancioso, egoísta e travesso. Ele está frequentemente em busca de tesouros, dinheiro e poder, muitas vezes entrando em conflito com Mario e seus amigos. Wario tem uma personalidade robusta e muitas vezes é retratado como um personagem excêntrico e debochado. <br>
      - Habilidades: Wario possui força física excepcional e é capaz de realizar ataques poderosos, como o "Shoulder Bash" (investida de ombro) e o "Ground Pound" (pulso no chão). Ele também é conhecido por sua resistência e resistência a certos efeitos negativos. <br>
      - Papel nos jogos: Wario estreou como um antagonista em "Super Mario Land 2: 6 Golden Coins" em 1992 e posteriormente estrelou em vários jogos próprios, como a série "Wario Land" e "WarioWare". Nessas séries, ele embarca em suas próprias aventuras e desafios. <br>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/4/46/Waluigi.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Waluigi</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Waluigi <br>
      - Origem: Waluigi é um personagem fictício criado pela Nintendo e é conhecido como o rival e contraparte malvada de Luigi. <br>
      - Aparência: Waluigi é retratado como um homem alto e magro, com pele amarelada e uma longa cabeleira preta. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné roxo com uma letra "Γ" nele. <br>
      - Personalidade: Waluigi é conhecido por sua natureza trapaceira, invejosa e antagônica. Ele tem uma personalidade arrogante, muitas vezes se envolvendo em trapaças e atitudes desleais para obter vantagens sobre seus adversários. Waluigi é frequentemente retratado como um personagem cômico e exagerado. <br>
      - Habilidades: Embora Waluigi não tenha habilidades especiais únicas atribuídas a ele, ele é retratado como um atleta ágil e atlético. Em alguns jogos, ele demonstra habilidades de agilidade, como saltos altos e movimentos acrobáticos. <br>
      - Papel nos jogos: Waluigi estreou como um personagem jogável em "Mario Tennis" em 2000 e desde então tem aparecido em vários jogos da franquia Mario, principalmente em jogos de esportes como tênis, golfe e kart. <br>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/b/bd/Daisy_%28Super_Mario_Party%29.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Princesa Daisy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Princesa Daisy <br>
      - Origem: Princesa Daisy é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma amiga próxima da Princesa Peach. <br>
      - Aparência: Daisy é retratada como uma mulher jovem e graciosa. Ela tem cabelos loiros e olhos azuis brilhantes. Ela é frequentemente mostrada vestindo um vestido amarelo ou laranja, com detalhes decorativos e uma coroa na cabeça. <br>
      - Personalidade: Daisy é conhecida por sua personalidade enérgica, audaciosa e espontânea. Ela é retratada como uma personagem extrovertida e confiante, muitas vezes demonstrando uma atitude competitiva. Daisy é amigável e está sempre pronta para se divertir. <br>
      - Relação com Luigi: Assim como Peach é a interesse romântico de Mario, Daisy é frequentemente retratada como a interesse romântico de Luigi. Sua relação é mostrada de forma alegre e brincalhona em vários jogos. <br>
      - Papel nos jogos: Daisy apareceu pela primeira vez como uma personagem jogável em "Super Mario Land" em 1989. Ela tem sido uma personagem recorrente em jogos da franquia Mario, aparecendo em títulos como "Mario Party", "Mario Kart" e outros. <br>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="" src="https://i.pinimg.com/originals/96/d1/36/96d136000d1c03e095ba6044c941fd2f.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Rosalina</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Rosalina <br>
      - Origem: Rosalina é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma guardiã estelar. <br>
      - Aparência: Rosalina é retratada como uma mulher alta e elegante. Ela tem cabelos loiros longos e olhos azuis profundos. Ela é geralmente vista usando um vestido azul celeste com detalhes estelares e uma coroa estrelada. <br>
      - Personalidade: Rosalina é conhecida por sua personalidade calma, gentil e maternal. Ela é retratada como uma figura sábia e compassiva, cuidando dos Lumas, pequenas criaturas estelares, e sendo protetora do cosmos. Ela é geralmente mostrada como uma pessoa tranquila e reservada.  <br>
      - Papel nos jogos: Rosalina apareceu pela primeira vez como uma personagem principal em "Super Mario Galaxy" em 2007. Ela desempenha um papel importante em jogos subsequentes, como "Super Mario Galaxy 2" e "Super Mario 3D World". Rosalina também aparece em jogos de spin-off, como a série "Mario Kart" e "Mario Party".  <br>
      -História: A história de Rosalina é contada no jogo "Super Mario Galaxy", revelando que ela era uma menina terrestre que se tornou a guardiã da Galáxia e construiu sua própria nave espacial, a Comet Observatory.<br>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/en/d/d4/Donkey_Kong_character.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Donkey Kong</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Donkey Kong <br>
      - Origem: Donkey Kong é um personagem fictício criado pela Nintendo e é frequentemente retratado como um gorila poderoso. <br>
      - Aparência: Donkey Kong é retratado como um gorila grande e musculoso, com pelagem marrom e uma expressão facial marcante. Ele é frequentemente mostrado vestindo uma gravata vermelha com iniciais "DK" nela. <br>
      - Personalidade: Donkey Kong é conhecido por sua personalidade enérgica, corajosa e às vezes um pouco ingênua. Ele é retratado como um personagem de bom coração, com uma natureza protetora em relação a sua família e território. Donkey Kong é frequentemente mostrado como um herói, pronto para enfrentar desafios e proteger sua ilha. <br>
      - Habilidades: Donkey Kong é conhecido por sua força física impressionante. Ele é capaz de realizar saltos poderosos, golpes com os punhos e carregar objetos pesados. Além disso, ele é um excelente escalador de árvores e é capaz de se mover rapidamente. <br>
      - Papel nos jogos: Donkey Kong estreou como o antagonista principal em "Donkey Kong" em 1981. No entanto, ao longo dos anos, ele se tornou um dos heróis mais populares da Nintendo. Ele é o protagonista de várias séries de jogos, como "Donkey Kong Country" e "Donkey Kong 64", além de aparecer em jogos de crossover, como a série "Mario Kart" e "Super Smash Bros." <br>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="" src="https://e7.pngegg.com/pngimages/961/584/png-clipart-donkey-kong-country-2-diddy-s-kong-quest-diddy-kong-racing-king-kong-bowser-diddy-kong-thumbnail.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Diddy Kong</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Diddy Kong <br>
      - Origem: Diddy Kong é um personagem fictício criado pela Rare Ltd. em parceria com a Nintendo e é frequentemente retratado como o companheiro e aprendiz de Donkey Kong. <br>
      - Aparência: Diddy Kong é retratado como um macaco pequeno e ágil. Ele tem pelagem marrom com uma barriga clara e um gorro vermelho com iniciais "DK" nele. <br>
      - Personalidade: Diddy Kong é conhecido por sua personalidade animada, curiosa e brincalhona. Ele é retratado como um personagem cheio de energia, sempre disposto a embarcar em aventuras e enfrentar desafios ao lado de Donkey Kong. Diddy Kong é amigável, leal e muitas vezes demonstra uma atitude otimista. <br>
      - Habilidades: Diddy Kong é ágil e rápido, sendo capaz de saltar alturas consideráveis e se mover com agilidade. Ele também é habilidoso com um par de pistolas de coco chamadas "Peanut Popguns", que disparam amendoins como projéteis. <br>
      - Papel nos jogos: Diddy Kong apareceu pela primeira vez como um personagem jogável em "Donkey Kong Country" em 1994. Ele desempenha papéis importantes em jogos subsequentes da série "Donkey Kong Country" e em outros títulos, como "Diddy Kong Racing" e "Super Smash Bros." <br>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="" src="https://i.pinimg.com/originals/0b/6a/26/0b6a267bf50d673acc52e0b18e6f88a8.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Lakitu</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Lakitu <br>
      - Origem: Lakitu é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum em jogos da franquia Mario. <br>
      - Aparência: Lakitu é retratado como uma criatura com uma concha verde que flutua no ar. Ele tem olhos grandes e uma boca sorridente. Geralmente, ele é mostrado segurando uma nuvem chamada "Cloud Koopa" e uma vara de filmagem. <br>
      - Papel nos jogos: Lakitu apareceu pela primeira vez como um inimigo em "Super Mario Bros." em 1985. Ele é conhecido por sua habilidade de lançar Spiny Eggs em direção ao jogador. Além disso, Lakitu também é visto em jogos atuando como um observador e cinegrafista, como em "Mario Kart", onde ele grava as corridas. <br>
      - Comportamento: Lakitu é conhecido por sua tendência de flutuar no ar em sua nuvem e lançar objetos em direção aos jogadores. No entanto, em alguns jogos, Lakitu pode desempenhar papéis mais amigáveis, como fornecer itens ou ajudar o jogador em certas situações. <br>
      - Variações: Existem variações de Lakitu em diferentes jogos, como Spiny Lakitu, que lança Spiny Eggs mais perigosos, e Fishin' Lakitu, que usa uma vara de pescar para lançar objetos. <br>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="" src="https://mario.wiki.gallery/images/b/b2/MPS_Shy_Guy_Artwork.png" style="width: 150px; height: 150px;" />
    <ion-card-header>
      <ion-card-title>Shy Guy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      - Nome: Shy Guy <br>
      - Origem: Shy Guy é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum na franquia Mario. <br>
      - Aparência: Shy Guy é retratado como uma pequena criatura coberta por uma máscara facial e um manto colorido. A cor da máscara e do manto pode variar, incluindo cores como vermelho, azul, verde e mais. <br>
      - Comportamento: Shy Guy é conhecido por sua timidez e por esconder seu rosto por trás da máscara. Eles são tipicamente vistos seguindo ordens ou realizando tarefas para outros vilões da franquia Mario. No entanto, em alguns jogos, Shy Guys podem desempenhar papéis mais neutros ou até mesmo amigáveis. <br>
      - Papel nos jogos: Shy Guys apareceram pela primeira vez como inimigos em "Yume Kōjō: Doki Doki Panic" em 1987, que foi posteriormente refeito e lançado como "Super Mario Bros. 2". Desde então, Shy Guys se tornaram personagens recorrentes na série Mario, aparecendo em diversos jogos, como os jogos da série "Mario Kart", "Mario Party" e muitos outros. <br>
      - Variações: Existem várias variações de Shy Guy, cada uma com habilidades e características únicas. Alguns exemplos incluem Fly Guy, que possui asas e pode voar, e Snifit, que usa uma máscara semelhante, mas dispara projéteis. <br>
    </ion-card-content>
  </ion-card>




  






























</ion-content>
